body {
    background-color: #FBE5FB;
    color: rgb(114, 109, 109);
}

p {
    font-size: large;
    font-weight: 600;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
}

a {
    text-decoration: none;
    color: rgb(114, 109, 109);
   font-weight: 900;
}

.intro {
    display: flex;
}

.intro h1 {
    padding-top: 50px;
    margin-right: 2rem;
}

.intro img {
    width: 200px;
    height: 200px;
    border-radius: 25%;
}

.my-text {
    margin-top: 2rem;
}

.buttons {
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.buttons button1 {
    margin-right: 1rem;
    
}

.button1 {
    background-color: #F88379;
    padding: 32px 32px;
   text-align: center;
    text-decoration: none;
   border: none;
   box-shadow: black;
   border-radius: 25%;
   color: rgb(114, 109, 109);
   font-weight: 900;
}

.button2 {
    background-color: #F88379;
    padding: 32px 32px;
   text-align: center;
    text-decoration: none;
   border: none;
   box-shadow: black;
   border-radius: 25%;
   color: rgb(114, 109, 109);
   font-weight: 900;
}

.buttons button2 {
    margin-left: 1rem;
}

.button1 a {
    color: rgb(114, 109, 109);
   font-weight: 900;
   text-decoration: none;
}

.button2 a{
    color: rgb(114, 109, 109);
   font-weight: 900;
   text-decoration: none;
}

.valentine {
    text-align: center;
}